{% extends "portefeuille/base.html" %}

<!-- Page pour informer que la base de données à été mise à jour avec succes -->
{% block content %}
{% if user.is_authenticated and user.is_staff %}
<div class="row p-4">
    <div class="col-sm-12 mt-3">
        <div class="card">
            <div class="card-header">
                <h1 class="text-center">Gestion de la base de données</h1>
            </div>
                <div class="card-body">
                    <h2 class="text-center text-info">Mise à jour éffectuée avec succes</h2>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}