{% extends "portefeuille/base.html" %}
{% block content %}


<div class="card-deck m-3">
    <div class="card border-primary m-2">
        <div class="card-header text-center">
            <h2>UP 1</h2>
        </div>
        <div class="card-body text-center">
            <div class="row card-title">
                <div class="col-2"><h4>Poste</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
                <div class="col-2"><h4>Machine</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>DECOU</p></div>
                    <div class="col-4"><p>Découpe</p></div>
                    <div class="col-2"><p>ACI</p></div>
                    <div class="col-4"><p>ACIES</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>EML</p></div>
                    <div class="col-4"><p>COMBINE LASER</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>LASER</p></div>
                    <div class="col-4"><p>LASER FIBRE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>EBAV</p></div>
                    <div class="col-4"><p>Ebaurage</p></div>
                    <div class="col-2"><p>EBAE</p></div>
                    <div class="col-4"><p>EBAVURAGE AERONAUTIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>EBAP</p></div>
                    <div class="col-4"><p>EBAVURAGE PRINCIPALE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>CNUS</p></div>
                    <div class="col-4"><p>Mécanique centre</p></div>
                    <div class="col-2"><p>CENA</p></div>
                    <div class="col-4"><p>CENTRE D'USINAGE AERONAUTIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>CENP</p></div>
                    <div class="col-4"><p>CENTRE D'USINAGE PRINCIPALE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>PERC</p></div>
                    <div class="col-4"><p>Mécanique MANUEL</p></div>
                    <div class="col-2"><p>PERAE</p></div>
                    <div class="col-4"><p>PERCAGE AERONAUTIQUE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>PLI</p></div>
                    <div class="col-4"><p>Pliage</p></div>
                    <div class="col-2"><p>PLIP</p></div>
                    <div class="col-4"><p>PLIAGE PRINCIPALE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>PLIAE</p></div>
                    <div class="col-4"><p>PLIAGE AERONAUTIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>ROUL</p></div>
                    <div class="col-4"><p>ROULAGE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>AIDE</p></div>
                    <div class="col-4"><p>AIDE</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-primary m-2">
        <div class="card-header text-center">
            <h2>UP 4</h2>
        </div>
        <div class="card-body text-center">
            <div class="row card-title">
                <div class="col-2"><h4>Poste</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
                <div class="col-2"><h4>Machine</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>SOUDU</p></div>
                    <div class="col-4"><p>Soudure</p></div>
                    <div class="col-2"><p>SRAC</p></div>
                    <div class="col-4"><p>SOUDURE ACIER</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SRAL</p></div>
                    <div class="col-4"><p>SOUDURE ALU</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SRIN</p></div>
                    <div class="col-4"><p>SOUDURE INOX</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SRFAE</p></div>
                    <div class="col-4"><p>SRF AERONAUTIQUE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>SORB</p></div>
                    <div class="col-4"><p>Tour de soudage</p></div>
                    <div class="col-2"><p>SORB</p></div>
                    <div class="col-4"><p>TOUR DE SOUDAGE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>RESSU</p></div>
                    <div class="col-4"><p>Soudure</p></div>
                    <div class="col-2"><p>RES1</p></div>
                    <div class="col-4"><p>RESSUAGE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>FINIT</p></div>
                    <div class="col-4"><p>Finition</p></div>
                    <div class="col-2"><p>BRO</p></div>
                    <div class="col-4"><p>BROSSAGE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>FINI</p></div>
                    <div class="col-4"><p>FINITION</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>MICRO</p></div>
                    <div class="col-4"><p>MICROBILLAGE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>SPP</p></div>
                    <div class="col-4"><p>Soudure par point</p></div>
                    <div class="col-2"><p>DEG</p></div>
                    <div class="col-4"><p>DEGRAISSAGE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SGOU</p></div>
                    <div class="col-4"><p>SOUDURE GOUJONS</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SPPAC</p></div>
                    <div class="col-4"><p>SOUDURE PAR POINT ACIER / INOX</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SPPAL</p></div>
                    <div class="col-4"><p>SOUDURE PAR POINT ALU</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>CNPP</p></div>
                    <div class="col-4"><p>Mécanique centre perçage</p></div>
                    <div class="col-2"><p>CPEP</p></div>
                    <div class="col-4"><p>CENTRE DE PERCAGE PRINCIPALE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>MEMAN</p></div>
                    <div class="col-4"><p>Mécanique manuel</p></div>
                    <div class="col-2"><p>PERP</p></div>
                    <div class="col-4"><p>PERCAGE PRINCIPALE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SCIA</p></div>
                    <div class="col-4"><p>SCIAGE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>TOU</p></div>
                    <div class="col-4"><p>TOURNAGE</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="card border-primary m-2">
        <div class="card-header text-center">
            <h2>UP 5</h2>
        </div>
        <div class="card-body text-center">
            <div class="row card-title">
                <div class="col-2"><h4>Poste</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
                <div class="col-2"><h4>Machine</h4></div>
                <div class="col-4"><h4>Descriptif</h4></div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>MONT</p></div>
                    <div class="col-4"><p>Montage</p></div>
                    <div class="col-2"><p>INTAE</p></div>
                    <div class="col-4"><p>INTEGRATION AERONAUTIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>INTP</p></div>
                    <div class="col-4"><p>INTEGRATION PRINCIPALE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>PECH</p></div>
                    <div class="col-4"><p>Peinture poudre</p></div>
                    <div class="col-2"><p>DEGCH</p></div>
                    <div class="col-4"><p>DEGRAISSAGE CHAINE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>PEPO</p></div>
                    <div class="col-4"><p>PEINTURE POUDRE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>PELI</p></div>
                    <div class="col-4"><p>Peinture liquide</p></div>
                    <div class="col-2"><p>PELI</p></div>
                    <div class="col-4"><p>PEINTURE LIQUIDE</p></div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-2"><p>PREPA</p></div>
                    <div class="col-4"><p>Préparation</p></div>
                    <div class="col-2"><p>CORR</p></div>
                    <div class="col-4"><p>CORRINDONNAGE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>EPAR</p></div>
                    <div class="col-4"><p>EPARGNE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>EPARA</p></div>
                    <div class="col-4"><p>EPARGNE AUTOMATIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>PONC</p></div>
                    <div class="col-4"><p>PONCAGE</p></div>
                </div>
            </div>
            <div class="bg-light">
                <div class="row">
                    <div class="col-2"><p>SERTI</p></div>
                    <div class="col-4"><p>Sertissage</p></div>
                    <div class="col-2"><p>SERAE</p></div>
                    <div class="col-4"><p>SERTISSAGE AERONAUTIQUE</p></div>
                </div>
                <div class="row">
                    <div class="col-2"><p></p></div>
                    <div class="col-4"><p></p></div>
                    <div class="col-2"><p>SERP</p></div>
                    <div class="col-4"><p>SERTISSAGE PRINCIPALE</p></div>
                </div>
            </div>
        </div>
    </div>


    

  </div>
{% endblock %}